@import '../../mixins';
@import '../../colors';

nav {
  display: flex;
}

ul.main {
  @include mobile {
    flex-direction: column-reverse;
  }
  margin-left: -40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  display: flex;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.active {
  color: $active-nav;
}