<div class="about">
  <span class="about__label">
    what?
  </span>
  <span class="about__info">
    like hockey, but with bikes. hit ball with stick on bike. ezpz
  </span>

  <span class="about__label">
    where?
  </span>
  <span class="about__info">
    belknapp park... for now
  </span>

  <span class="about__label">
    when?
  </span>
  <span class="about__info">
    Not right now, but usually Thursday / Sundays
  </span>

  <span class="about__label">
    how?
  </span>
  <span class="about__info">
    glad you asked, we have loner bikes and gear. just need to bring a can do attitude
  </span>
</div>
