<div class="about">
  <span class="about__label">
    what?
  </span>
  <span class="about__info">
    <iframe
      src="https://www.youtube.com/embed/maNGxUxMwlI"
      class="youtube"
      frameborder="0"
      width="560"
      height="315"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </span>

  <span class="about__label">
    where?
  </span>
  <span class="about__info">
    <iframe
    class="maps"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.844540606822!2d-85.6697957843072!3d42.98154830361829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819ad5441f6fc5f%3A0xdc803374fedebbe6!2sGrand%20Rapids%20Bike%20Polo!5e0!3m2!1sen!2sus!4v1604536082614!5m2!1sen!2sus"
    frameborder="0"
    style="border:0;"
    width="600"
    height="315"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"></iframe>
  </span>

  <span class="about__label">
    when?
  </span>
  <span class="about__info">
    Not right now, but usually Thursday / Sundays
  </span>

  <span class="about__label">
    how?
  </span>
  <span class="about__info">
    glad you asked, we have loner bikes and gear. just need to bring a can do attitude
  </span>
</div>
