@import '../../mixins';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include mobile {
    font-size: 2rem;
  }

  font-size: 3rem;
}

.description {
  @include mobile {
    font-size: 1.5rem;
  }
  font-weight: 300;
  font-size: 2rem;
}

.slides {
  @include mobile {
    margin: 1rem 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  border: 1px solid burlywood;
  height: auto;
  width: 100%
}