button {
  img {
      width: 1.25em;
  }
}


:host {
  text-align: center;
}

.logout {
  padding-top: 5em;
}

.login-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  button {
    margin-right: 8px;
  }
}