<ng-container
  *ngIf="!!post.comments && post.comments.length > 0"
>
  <div class="comments">
    <div *ngFor="let comment of post.comments">
      <div class="comment">
        <span class="commenter">{{!!comment.displayName ? comment.displayName : 'no displayname yet'}}</span>
        <br>
        <ng-container *ngIf="!!comment.postComment">
          <span class="description">{{comment.postComment}}</span>
        </ng-container>
        <ng-container *ngIf="!!comment.gifUrl">
          <span class="gif"><img src="{{comment.gifUrl}}" alt="Image" class="gif-size"/></span>
        </ng-container>
        <ng-container *ngIf="!!comment.sound">
          <div class="sound-spacer">
            <span class="sound" appAudio [soundUrl]="comment.sound.url">~ {{comment.sound.label}} ~</span>
          </div>
        </ng-container>

        <ng-container *ngIf="!!comment.replies">
          <div class="replies">
            <div class="replies__reply" *ngFor="let reply of comment.replies">
              <span><b>{{!!reply.displayName ? reply.displayName : 'no display name'}}</b></span>
              <br>
              <ng-container *ngIf="!!reply.reply">
                <span class="indent description">{{reply.reply}}</span>
              </ng-container>
              <ng-container *ngIf="!!reply.gifUrl">
                <span class="gif"><img src="{{reply.gifUrl}}" alt="Image" class="gif-size"/></span>
              </ng-container>
              <ng-container *ngIf="!!reply.sound">
                <div class="sound-spacer">
                  <span class="sound" appAudio [soundUrl]="reply.sound.url">~ {{reply.sound.label}} ~</span>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <span class="comment-reply" (click)="setReplyField(comment)">reply</span>
      <!--reply to comment-->
      <div
        class="comment-reply__form"
        *ngIf="comment.id === selectedCommentId">
        <app-respond [comment]="comment">

        </app-respond>
      </div>
    </div>
  </div>
</ng-container>

<div class="post-reply">
  <div class="post-reply__reply">
    <span (click)="setCommentField(post)">reply</span>
    <div
      class="post-reply__form"
      *ngIf="post.id === selectedReplyId">
      <app-respond [post]="post">

      </app-respond>
    </div>
  </div>
</div>
