<div class="row w-100">
  <div class="col center grow">
    <app-respond></app-respond>
    <div class="posts">
      <div class="post" *ngFor="let post of posts">
        <div class="poster">
          <b>{{!!post.userInfo.displayName ? post.userInfo.displayName : 'no displayname yet'}}</b>
          <span class="poster__time">{{post.createdAt | dateAgo}}</span>
        </div>
        <div class="col center">
          <ng-container *ngIf="!!post.post">
            <span class="description">{{post.post}}</span>
          </ng-container>
          <ng-container *ngIf="!!post.gifUrl">
            <span class="gif"><img src="{{post.gifUrl}}" alt="Image" class="gif-size"/></span>
          </ng-container>
          <ng-container *ngIf="!!post.sound">
            <div class="sound-spacer">
              <span class="sound" appAudio [soundUrl]="post.sound.url">~ {{post.sound.label}} ~</span>
            </div>
          </ng-container>
        </div>
        <app-comments [post]="post">

        </app-comments>
      </div>
    </div>
  </div>
</div>
