.posts {
  display: flex;
  flex-direction: column;
}

.post {
  min-width: 50vw;
  align-content: center;
  justify-content: center;
  border: 1px solid burlywood;
  padding: 1rem;
  margin: 0.5rem;
}

.poster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__time {
    font-style: italic;
  }
}

.comments {
  border: 1px solid rgba(0,0,0,.42);
  margin: 1rem 0;
  padding: .5rem;

  .comment {
    margin-bottom: .5rem;
  }
  .commenter {
    font-weight: bold;
  }
}