@import '../../colors';

.posts {
  display: flex;
  flex-direction: column;
  .post {
    @media screen and (max-width: $medium-breakpoint) {
      width: 95vw;
      margin: 1rem 0;
      border-radius: 0;
    }
    display: flex;
    flex-direction: column;
    width: 850px;
    align-content: center;
    justify-content: center;
    border: 1px solid $post;
    border-radius: 1rem;
    background: $post;
    box-shadow: -3px 3px 9px 0px #ccc;
    padding: 1rem;
    margin: 0.5rem;
  }

  .poster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__time {
      font-style: italic;
    }
  }

}

.post-form-field {
  color: black;
}

button {
  padding: 5px;
  margin-left: 16px;
}