@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row {
  display: flex;
}

.indent {
  margin-left: 8px;
}

.col {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.sound {
  border: 1px solid gray;
  cursor: pointer;
  margin: 1rem;
  padding: .5rem;
  width: 10vw;
  height: auto;
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

body {
  background: #eff2f5;
  color: #050505;
}

.point {
  cursor: pointer;
}