.respond {
  width: 350px;
  padding: .5rem;
  display: flex;
  flex-direction: column;

    &__sounds {
      height: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

.sound-select {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border: 1px solid;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.options {
  display: flex;
  margin-top: 4px;

  span {
    margin: 0 8px;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.options-row {
  display: flex;
  flex-direction: row;
}

.input-row {
  display: flex;
  flex-direction: row;

  input {
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-grow: 1;
  }
}

.pointer {
  cursor: pointer;
}

.reply-button {
  display: flex;
  border: 1px solid black;
  padding: .5rem;
  border-radius: .75rem;
  align-items: center;
  font-weight: bold;
  height: 2vh;
  margin-left: 8px;
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
  background-color: #fff;
}


.respond-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.giphy-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 300px;
}

.s {
  border: 1px solid;
  padding: .5rem;
  border-radius: .75rem;
  cursor: pointer;
  margin: .5rem;
}

.gif-size {
  max-width: 300px;
}

.sound-selected {
  display: flex;
  align-items: center;
}

.gif-selected {
  z-index: 10;
  background: lightgrey;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.gif-search {
  display: flex;
  flex-grow: 1;

  input {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 1px solid;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}